.zoom {
    transition : transform .3s;
    margin: 0 auto
  }
  
  .zoom :hover {
    transform: scale(1.1); 
  }

  .hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    transition-duration: 0.3s;
    transition-property: transform .2s;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    transform: scale(1.1);
  }

  